<% meta :title => "StartupPlace: Comunidad universitaria de emprendedores e innovadores en internet",
:description => "En StartupPlace te guiamos en la busca del éxito como emprendedor. Atrévete a innovar e iniciar la aventura como emprendedor.",
:keywords => %w(startupplace startup sp),
:author => "geoom"
%>  

<!-- Facebook Open Graph -->
<%
meta [:property => "og:title", :content => "Startupplace | Red universitaria de emprendedores e innovadores tecnológicos en internet."]
meta [:property => "og:description", :content => "En StartupPlace te guiamos en la busca del éxito como emprendedor. Atrévete a innovar e iniciar la aventura como emprendedor."]
meta [:property => "og:type", :content => "website"]
meta [:property => "og:url", :content => "#{request.original_url}"]
meta [:property => "og:image", :content => image_url('flex-slider/slider1.jpg')]
meta [:property => "og:image", :content => image_url('flex-slider/slider2.jpg')]
meta [:property => "og:image", :content => image_url('flex-slider/slider3.jpg')]
meta [:property => "og:image", :content => image_url('large-sp-logotype.png')]
meta [:property => "fb:page_id", :content => "365738726854197"]
meta [:property => "fb:admins", :content => "100001120638005"]
%>
<!-- /Facebook Open Graph -->

<!-- Twiter cards -->
<%
meta [:property => "twitter:card", :content => "summary"]
meta [:property => "twitter:url", :content => "#{request.original_url}"]
meta [:property => "twitter:title", :content => "Startupplace | Red universitaria de emprendedores e innovadores tecnológicos en internet."]
meta [:property => "twitter:description", :content => "En StartupPlace te guiamos en la busca del éxito como emprendedor. Atrévete a innovar e iniciar la aventura como emprendedor."]
meta [:property => "twitter:image", :content => image_url('flex-slider/slider1.jpg')]
meta [:property => "twitter:image", :content => image_url('flex-slider/slider2.jpg')]
meta [:property => "twitter:image", :content => image_url('flex-slider/slider3.jpg')]
meta [:property => "twitter:image", :content => image_url('large-sp-logotype.png')]
%>
<!-- /Twiter cards -->

<div id="wrapper">
  <div class="container">
    <!-- start: Flexslider -->
    <div class="slider">
      <div id="flex1" class="flexslider">
        <ul class="slides">
          <li>
            <%= image_tag('flex-slider/slider1.jpg', alt: 'startupplace')%>
            <div class="slide-caption n hidden-phone">
              <p>
                Ser un emprendedor es vivir unos pocos a&ntilde;os de tu vida como nadie quiere, 
                de tal forma que puedes disfrutar del resto de tu vida como nadie puede
              </p>
            </div>
          </li>
          <li>
            <%= image_tag('flex-slider/slider2.jpg', alt: 'startupplace')%>
          </li>
          <li>
            <%= image_tag('flex-slider/slider3.jpg', alt: 'startupplace')%>
            <div class="slide-caption hidden-phone">
              <p>
                Un hombre con una nueva idea es un loco hasta que &eacute;sta triunfa.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- end: Flexslider -->                
    <hr>
    <!-- start: Row -->
    <div class="row">
      <div class="span4">
        <div class="icons-box">
          <i class="ico-lightbulb ico-white circle-color-full big-color"></i>
          <div class="title"><h3>Desarrolla tu idea</h3></div>
          <p>
            Todos tenemos ideas pero si no tienen acci&oacute;n son in&uacute;tiles, la mayor&iacute;a de tus ideas no garantizan ser geniales hasta que decides contarla a otras personas, aprovechar sus experiencias y sugerencias para mejorar tu idea lo mejor posible.                                                
          </p>
          <div class="clear"></div>
        </div>
      </div>
      <div class="span4">
        <div class="icons-box">
          <i class="ico-group ico-white circle-color-full big-color"></i>
          <div class="title"><h3>Conf&iacute;a en tu equipo</h3></div>
          <p>
            Selecciona cuidadosamente a los co-fundadores en base a buenas relaciones y un insuperable compromiso para emprender la aventura, esta es la mejor garant&iacute;a de la supervivencia de tu Startup.
          </p>
          <div class="clear"></div>
        </div>
      </div>
      <div class="span4">
        <div class="icons-box">
          <i class="ico-alarm ico-white circle-color-full big-color"></i>
          <div class="title"><h3>Ejecuta r&aacute;pidamente</h3></div>
          <p>
            Construye algo muy simple y lo m&aacute;s significativamente posible como para que los inversionistas entiendan tu idea. El exceso de ingenier&iacute;a puede arruinarte toda la aventura.
          </p>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- end: Row -->
    <hr>
    <!-- start: Row -->
    <div class="row">
      <div class="span9">
        <div class="title"><h3>Últimas noticias</h3></div>
        <!-- start: Row -->
        <div class="row last-news-panel">
          <% if @news.each do |news| %>
          <div class="span3">
            <% if news.image.exists? %>
            <div class="picture">
              <%= image_tag news.image.url(:thumb)%>
            </div>
            <% end %>
            <div class="item-description">
              <h4><%= link_to news.title.html_safe, news_path(news), id: 'news_#{news.id}' %></h4>
              <p><%= HTML_Truncator.truncate(news.body, 40, :ellipsis => (link_to "... continuar", news_path(news), id: 'news_#{news.id}')).html_safe %></p>
            </div>
          </div>
          <hr class="separation visible-phone">
          <% end.empty? %>
          <p>Sin noticias por el momento :(</p>
          <% end %>

        </div><!-- end: Row -->
      </div>
      <hr class="visible-phone"/>
      <div class="span3">
        <hr/>
        <%= render 'shared/social_box' %>
      </div>
      <!-- end: Row -->
      <hr/>
    </div>
  </div>
