<% meta :title => "Historias tecnológicas",
    :description => "Las historias y noticias más tocadas en el mundo del emprendimiento, actualidad sobre el mundo de las Startups.",
    :keywords => %w(artículos tecnología startups noticias blog),
    :author => "geoom"
%>

<!-- Facebook Open Graph -->
<%
  meta [:property => "og:title", :content => "Historias tecnológicas"]
  meta [:property => "og:description", :content => "Las historias y noticias más tocadas en el mundo del emprendimiento, actualidad sobre el mundo de las Startups."]
  meta [:property => "og:type", :content => "blog"]
  meta [:property => "og:url", :content => "#{request.original_url}"]
  meta [:property => "og:image", :content => image_url('logotype.png')]
  meta [:property => "fb:page_id", :content => "365738726854197"]
  meta [:property => "fb:admins", :content => "100001120638005"]
%>
<!-- /Facebook Open Graph -->

<!-- Twiter cards -->
<%
  meta [:property => "twitter:card", :content => "summary"]
  meta [:property => "twitter:url", :content => "#{request.original_url}"]
  meta [:property => "twitter:title", :content => "Historias tecnológicas"]
  meta [:property => "twitter:description", :content => "Las historias y noticias más tocadas en el mundo del emprendimiento, actualidad sobre el mundo de las Startups."]
  meta [:property => "twitter:image", :content => image_url('logotype.png')]
%>
<!-- /Twiter cards -->

<!-- start: Page Title -->
<div id="page-title">
	<div id="page-title-inner">
		<!-- start: Container -->
		<div class="container">
			<h2><i class="ico-pencil ico-white"></i>News</h2>
		</div><!-- end: Container  -->
	</div>	
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
	<!--start: Container -->
 	<div class="container">
		<!--start: Row -->
		<div class="row">
			<div class="span9">
				<% if @news.each do |news| %>
					<!-- start: Post -->
					<div class="post">
						<% if news.image.exists? %>
							<div class="post-img picture">
								<%= image_tag news.image.url(:medium)%>
							</div>
						<% end %>
						<span class="post-icon standard"><i class="ico-pen circle"></i></span>
						<div class="post-content">
							<div class="post-title">
								<h2><%= link_to news.title.html_safe, news_path(news), id: 'news_#{news.id}' %></h2>
							</div>
							<div class="post-description">
								<p>
									<%= news.body.html_safe %>
								</p>
							</div>
							<div class="post-meta">
								<span>
									<i class="mini-ico-calendar"></i>
									<%= distance_of_time_in_words_to_now(news.created_at, include_seconds: true) %>
								</span> 
								<span>
									<i class="mini-ico-user"></i>
									Por <%= link_to news.user.username, account_path(news.user.username) %>
								</span> 
							</div>
						</div>
					</div><!-- end: Post -->
				<% end.empty? %>
						<p>Sin noticias por el momento :(</p>
				<% end %>
			</div>
			<!-- start: Sidebar -->
			<div class="span3 hidden-phone">
				<!-- start: Tags -->
				<div class="widget">
					<div class="title"><h3>Tags</h3></div>
					<div class="tags">
						<% @tags.each do |tag| %>
							<%= link_to tag.name, tag_path(tag) %>
						<% end %>
					</div>
				</div><!-- end: Tags -->
			</div><!-- end: Sidebar -->
		</div>
	</div><!--end: Container-->
		</div>
	</div>
	<!--end: Container-->

</div>
<!-- end: Wrapper  -->	
