<% meta :title => "#{@news.title}",
:description => truncate(strip_tags(@news.body), :length => 200),
:keywords => "#{@news.tag_list}",
:author => ""
%>

<!-- Facebook Open Graph -->
<%
meta [:property => "og:title", :content => "#{@news.title}"]
meta [:property => "og:description", :content => truncate(strip_tags(@news.body), :length => 200)]
meta [:property => "og:type", :content => "article"]
meta [:property => "og:url", :content => "#{request.original_url}"]
meta [:property => "og:image", :content => @news.image.url(:medium)]
meta [:property => "fb:page_id", :content => "365738726854197"]
meta [:property => "fb:admins", :content => "100001120638005"]
%>
<!-- /Facebook Open Graph -->

<!-- Twiter cards -->
<%
meta [:property => "twitter:card", :content => "summary"]
meta [:property => "twitter:url", :content => "#{request.original_url}"]
meta [:property => "twitter:title", :content => "#{@news.title}"]
meta [:property => "twitter:description", :content => HTML_Truncator.truncate(@news.body, 50).html_safe ]
meta [:property => "twitter:image", :content => @news.image.url(:medium)]
%>
<!-- /Twiter cards -->

<!-- start: Page Title fantasma-->
<div id="page-title"><div id="page-title-inner" style="padding: 3px">
</div></div>
<!-- end: Page Title fantasma -->

<!--start: Wrapper-->
<div id="wrapper">
	<!--start: Container -->
	<div class="container">
		<div class="row">
			<div class="span8 offset2">
				<!-- post -->
				<div class="post post-page">
					
					<!-- post content -->
					<div class="post-content">
						<div class="post-title" style="text-align: center">
							<h1><%= @news.title.html_safe  %></h1>
						</div>
						<!-- post meta -->
						<div class="post-meta">
							<span>
								<i class="mini-ico-calendar"></i>
								<%= distance_of_time_in_words_to_now(@news.created_at, include_seconds: true) %>
							</span>
							<span>
								<i class="mini-ico-user"></i>
								Por <%= link_to @news.user.username, account_path(@news.user.username) %>
							</span>
						</div><!-- /post meta -->
						<% if @news.image.exists? %>
							<div class="post-img picture">
								<%= image_tag @news.image.url(:medium)%>
							</div>
						<% end %>
						<div class="post-description">
							<%= @news.body.html_safe %>
						</div>
					</div><!-- /post content -->
				</div>
				<!-- /post -->
				<div style="height: 20px"></div>
				<!-- comments -->
				<div class="comments-sec">
					<div id="disqus_thread"></div>
					<script type="text/javascript">
						var disqus_shortname = 'startupplace';
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
				<!-- /comments -->
				<div class="clear"></div>
			</div>	
		</div>
	</div><!--/container-->
</div>