<%= form_for @news, html: {multipart: true}, url: url_into do |f| %>
	<ul>
		<% @news.errors.full_messages.each do |error| %>
			<i><%=error%></i>
		<% end %>
	</ul>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body %><br/>
		<%= f.text_field :body %>
	</p>
	<p>
	  <%= f.label :tag_list %><br />
	  <%= f.text_field :tag_list %>
	</p>
	<p>
		<% if @news.image.exists? %>
		  <%= image_tag @news.image.url(:thumb) %><br/>
		<% end %>
		<%= f.label :image, "Attach a New Image" %><br />
		<%= f.file_field :image %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>