<%= form_for @news, html: {multipart: true}, url: url_into do |f| %>
	<ul>
		<% @news.errors.full_messages.each do |error| %>
			<i><%=error%></i>
		<% end %>
	</ul>
	<p>
		<%= f.label 'Título' %>
		<span>* debe ser único y contener por lo menos 2 palabras</span>
		<br/>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label 'Contenido' %><br/>
		<%= f.cktext_area :body, rows: 10 %>
	</p>
	<p>
	  <%= f.label 'Categorías' %>
	  <span> *ejemplo: inversión, hardware, software</span>
	  <br />
	  <%= f.text_field :tag_list %>
	</p>
	<p>
		<% if @news.image.exists? %>
		  <%= image_tag @news.image.url(:thumb) %><br/>
		<% end %>
		<%= f.label :image, "Adjunta una imagen de portada" %>
		<span>* la imagen de portada debe guardar una proporcion de 700x350 pixeles para evitar una distorcion indeseada</span>
		<br />
		<%= f.file_field :image %>
	</p>
	<p>
		<%= f.submit "Publicar artículo" %>
	</p>
<% end %>