<h1><%= @news.title.html_safe %></h1>

<% if @news.image.exists? %>
	<p><%= image_tag @news.image.url(:thumb)%></p>
<% end %>

<p><%= @news.body.html_safe %></p>

<p>
  Tags:
  <% @news.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>


<% if can? :update, News %>
  <p><%= link_to 'edit', edit_dashboard_news_path(@news) %></p>
<% end %>
<% if can? :destroy, News %>
  <p><%= link_to 'delete', dashboard_news_path(@news), method: :delete, data: {confirm: "Really delete this news?"} %></p>
<% end %>
<br/>

<%= link_to "<< Back to news list", dashboard_news_index_path %>