 <% meta :title => "Ver #{@news.title}", :robots => "noindex" %>

<h1><%= @news.title.html_safe %></h1>

<% if @news.image.exists? %>
	<p><%= image_tag @news.image.url(:thumb)%></p>
<% end %>

<p><%= @news.body.html_safe %></p>

<p>
  Etiquetas:
  <% @news.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>


<% if can? :update, News %>
  <p><%= link_to 'Editar', edit_dashboard_news_path(@news) %></p>
<% end %>
<% if can? :destroy, News %>
  <p><%= link_to 'Eliminar', dashboard_news_path(@news), method: :delete, data: {confirm: "¿Estas seguro de eliminar este artículo?"} %></p>
<% end %>
<p><%= link_to 'Así ve el mundo este artículo', news_path(@news) %></p>
<br/>
<hr/>
<%= link_to "Regresar a la lista de artículos", dashboard_news_index_path %>