<!--start: Header -->
<header>
    <!--start: Container -->
    <div class="container">
        <!--start: Navbar -->
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <%= link_to image_tag("simpl-logo.png", alt: 'startupplace'), root_path, class: 'brand' %>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <%= nav_link 'Inicio', root_path %>
                    	<%= nav_link 'News', news_index_path %>
                        <%= nav_link 'ideaStartup', ideastartup_path %>
                        <%= nav_link 'Sobre nosotros', about_path %>
                    </ul>
                </div>
        </div>
      </div>
        <!--end: Navbar -->
    </div>
    <!--end: Container-->                        
</header>
<!--end: Header-->