<!DOCTYPE html>
<html lang="es">
	<head>
		<%= render 'shared/meta_tags' %>
		<%= stylesheet_link_tag  "app", media: "all", "data-turbolinks-track" => true %>
		<link type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" media="screen">
		<link type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" media="screen">
		<link type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet" media="screen">
		<link type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic" rel="stylesheet" media="screen">
		<%= favicon_link_tag 'ico/favicon.ico', type: 'image/x-icon' %>
		<%= csrf_meta_tags %>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="https://raw.github.com/scottjehl/Respond/master/dest/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>

		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-38384370-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
