<!DOCTYPE html>
<html>
	<head>
		<%= render 'shared/meta_tags' %>
	  <%= stylesheet_link_tag "sudo", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= favicon_link_tag 'ico/favicon.ico', type: 'image/x-icon' %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<div id="account">
		  <% if current_user %>
		    <span>Welcome, <%= current_user.email %></span>
		    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
		  <% end %>
		</div>
		<%= yield %>
		<p class="flash"><%= flash.notice %></p>
	</body>
</html>
